<div class="container-big-card">
    <div class="big-card-photo">
        <img 
        src="https://w0.peakpx.com/wallpaper/747/963/HD-wallpaper-2021-audi-rs-6-avant.jpg" 
        alt=""
        >
    </div>
    <div class="big-card-title">
        <h1>Informação do blog</h1>
    </div>
    <div class="big-card-description">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium volutpat nisl eu rhoncus. Nulla in neque euismod, lobortis turpis vitae, ultrices nibh. Vestibulum tristique nibh arcu, vel finibus odio malesuada lacinia. Curabitur facilisis orci quis mattis commodo. Pellentesque commodo tincidunt sem, nec ornare felis eleifend at. Aenean sit amet orci est. Fusce id est at lectus laoreet interdum. Praesent vehicula maximus imperdiet. Nullam vel augue orci. Nulla et sem bibendum lacus porttitor luctus vitae non dolor. Nam ut sodales diam. Quisque congue justo non lobortis ultrices. Sed ornare convallis ex, ac bibendum neque consequat et.
        </p>
    </div>
    <div class="big-card-ler">
        <a href="">Leia mais sobre....</a>
    </div>
</div>
